* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(53, 53, 53);
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  background: url('intro\ image.webp') center/cover no-repeat;
  height: 90vh;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.prompt {
  top: 20px;
  height: 5vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(-100px);
  transition: transform 1s ease-in-out;
}

.prompt img {
  min-width: 30px;
  max-width: 4vh;
  opacity: 30%;
  border-radius: 50%;
  box-shadow: 0 8px 50px rgba(255, 255, 255, 0.4);
}

.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.project.visible {
  opacity: 1;
  transform: translateY(0);
}

.project img {
  min-width: auto;
  min-height: 50px;
  max-width: auto;
  max-height: 1080px;
  border-radius: 12px;
  margin: 1rem;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.4);
}

.project h2 {
  margin-bottom: 10px;
  color: rgb(16, 17, 23);
  text-shadow: 0 0 10px #ffffff;
}

.project p {
  max-width: 600px;
  color: #cfcfcf;
  text-align: center;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.project a {
  max-width: 600px;
  color: #6d6d6d;
  text-align: center;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.contact {
  max-height: 30vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 38);
}

.contact h2 {
  color: #ffffff;
}

.contact p {
  color: #ffffff;
}

.contact a {
  color: #6d6d6d;
}

.container {
    position : relative;
}

.projectContainer {
    position : relative;
    padding-bottom: 5%;
}
